body {
	font-family: sans-serif;
	padding: 10px;
}

h2 {
	font-weight: bold;
	display: inline-block;
}

.refresh {
	font-size: 80%;
	margin-left: 10px;
}

.header {
	background: #ececec;
	padding: 2em;
}

ul.suggestions {
	border: 2px solid #ececec;
	list-style: none;
}

li {
	padding: 5px;
}

li img {
	width: 40px;
	height: 40px;
	/* border-radius: 20px; */
}

li .username,
li .close {
	display: inline-block;
	position: relative;
	bottom: 15px;
	left: 5px;
}
